.TC-container{

    .TC-header{
    background-color: black;
      padding: 12% 5% 2%;
      font-weight: 700;
      color: white;
      font-size: 90px;
}
.pdfset{
    padding: 20px;    
    width:95%;
    height:1000px;
    
}
}