.TC-container{

    .TC-header{
    background-color: black;
      padding: 12% 5% 2%;
      font-weight: 700;
      color: white;
      font-size: 90px;
}
.pdfset{
    padding: 20px;    
    width:95%;
    height:1000px;
    
}
}
@media (max-width:620px){
    .TC-container{

        .TC-header{
            padding-top: 70px;
            padding-left: 15px; 
            font-weight: 700;
            font-size: 36px;
    }
    .pdfset{
        padding: 20px;    
        width:91%;
        height:1000px;
        
    }
    } 
}