.privacypolicy-container{

    .privacypolicy-header{
    background-color: black;
      padding: 12% 5% 2%;
      font-weight: 700;
      color: white;
      font-size: 90px;
}
.pdfset{
    padding: 20px;    
    width:95%;
    height:1000px;
    
}
}
@media (max-width:620px){
    .privacypolicy-container{
        margin-bottom: 20px;
        .privacypolicy-header{
            background-color: black;
            padding-top:95px;
            padding-left: 20px;
            font-weight: 700;
            font-size: 45px;
            text-align: center;
            padding-bottom: 45px;
    }
    .pdfset{
        padding: 20px;    
        width:90%;
        height:1000px;
        
    }
    }
}
@media (min-width:621px) and (max-width:1300px){
    .privacypolicy-container{
        margin-bottom: 20px;
        .privacypolicy-header{
            padding-top: 100px;
            padding-left:20px;
            font-size: 40px;
    }
    .pdfset{
        padding: 20px;    
        width:95%;
        height:1000px;
        
    }
    }
}