.main{
  .header-section {
  position: sticky;
  background-color: transparent; 
  padding: 1px 15px;

  .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      color: #000000;
      
  }

  .dte-code {
      font-weight: lighter;
      color: #000000;
  }

  .social-media {
      display: flex;
      gap: 10px;
      margin-left: -570px;
      a {
          margin: 0 2px;
          text-decoration: none;
          color: #ff742f; 
      }
  }

  .erp-info {
    a{
      color: #000;
      
      &:hover{
        color: blue;
      }

    }
      display: flex;
      align-items: center;

      .contact, .email {
          margin-left: 10px;
      }
  }
}

.navbar-container {
  position: fixed;
  max-width: 100%;
  max-height: 60px;
  top: 25px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background: transparent;
  align-items: center;
  z-index: 1000;
  border-bottom: #ffffff solid 1px;
  transition: background-color 0.3s ease, border-color 0.3s ease;

 &:hover {
    background-color: rgb(255, 255, 255);
    border-bottom: #000000 solid 1px;

    .nav-item {
      border-right: rgb(0, 0, 0) solid 1px;

      .nav-link {
        color: rgb(0, 0, 0) !important; /* Change the text color to black on hover */
      }
    }
  }

  &.scrolled {
    background-color: #ffffff;
    border-bottom: #000000 solid 1px;
    top:0;
    .nav-item {
      border-right-color: black; /* Change the border color to black when scrolled */

      .nav-link {
        color: #000000 !important; /* Change the text color to black when scrolled */
      }
    }
  }

  .navbar-left {
    display: flex;
    justify-content: flex-start;

    .navbar-brand img {
      padding-left: 30px;
      margin-top: 5px;
      width: 160px;
    }
  }


.navbar-mid {
  display: flex;
  height: 60px;
  margin-left: 200px;
  align-items: center;
  flex-grow: 1;
  justify-content: space-between;
  border: #ffffff solid 1px;
  &:hover{
    border-color: #000000;
    .nav-item {
      border-right-color: black; /* Change the border color to black on hover */
      .nav-link {
        color: black !important; /* Change the text color to black on hover */
      }
    }
  }
  &.scrolled {
    border-color: #000000;
  }

  .menu-button {
    display: none;
    color: #ffffff;
    &.scrolled {
      color: #000000;
    }
    &.hover {
      color: #000000;
    }
  }
}

.navbar-list {
  margin-left: -40px;
  display: flex;
  align-items: center;
  
  .nav-item {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    font-size: 15px;
    line-height: 15px;
    font-weight: 500;
    background-color: transparent;
    border: none;
    border-right: rgb(255, 255, 255) solid 1px;
    position: relative;

    &.scrolled {
      border-right: rgb(0, 0, 0) solid 1px;
    }

    &::before {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 0;
      height: 0;
      background-color: yellow;
      transition: height 1s ease, width 1s ease, background-color 0.3s ease;
    }

    .nav-link {
      padding-top: 10px;
      padding-bottom: 5px;
      align-self: center;
      justify-content: center;
      color: #ffffff;
      transition: color 1s ease;

      &.scrolled {
        color: #000000;
      }
    }

    &:hover {
      border-right: rgb(0, 0, 0) solid 1px;

      .nav-link {
        color: rgb(255, 255, 255);
      }

      &::before {
        height: 3px;
        width: 100%;
        background-color: hsl(0, 0%, 0%);
        border-right: rgb(0, 0, 0) solid 1px;
      }
    }
  }
}

.nav-item {
  color: #000000;
  border-right: #000000 solid 1px;
  background-color: yellow;

  .nav-link {
    color: rgb(254, 254, 254) !important;
  }
}

.nav-item:hover {
  border-right: #000000 solid 1px;
  background-color: yellow;

  .nav-link {
    color: rgb(0, 0, 0) !important;
  }
}

  .navbar-right {
   
    padding-right: 30px;
    display: flex;
    align-items: center;

    .nav-right-button {
      list-style: none;
      display: flex;
      margin: 0;
      padding: 0;

      li {
        margin-right: 10px;

        .Donate-btn-nav {
          
          font-weight: 700;
          font-size: 18px;
          position: relative;
          background: transparent;
          border: #000000 solid 1px;
          background-color: yellow;
          padding: 19.5px;
          transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;

          &::before {
            content: '';
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 0;
            background-color: blue;
            transition: height 0.9s ease;
          }

          &:hover {
            background-color: blue;
            color: #ffffff;

            &::before {
              height: 100%;
              z-index: -1000;
            }
          }
        }
      }
    }
  }
  .dropdown {
    position: relative;
    display: inline-block;
    
    &:hover .dropdown-content {
      display: block;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    min-height: 5px;
    
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 100000000;

    .nav-link {
      color: #000;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
  }
}
.navbar-brand img.default-logo,
.navbar-brand img.scrolled-logo {
  transition: opacity 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
}

// Show scrolled logo on hover over the navbar-container
.navbar-container:hover .navbar-brand img.scrolled-logo {
  opacity: 0;
}

// Hide default logo on hover over the navbar-container
.navbar-container:hover .navbar-brand img.default-logo {
  opacity: 0;
}

.navbar-container:hover .navbar-brand img.scrolled-logo {
  opacity: 1 !important;
}

.navbar-container:hover .navbar-brand img.default-logo {
  opacity: 0 !important;
}

}

@media (max-width:620px) {
  .main{
    .header-section {
      position: relative; 
      padding: 1px 15px;
      
      .header-content {
          display: flex;
          justify-content: space-between;
          align-items: center;
          color: #000000;
          font-size: 14px;
      }
    
      .dte-code {
          font-weight: lighter;
          color: #000000;
      }
    
      .social-media {
          display: None
          
      }
    
      .erp-info {
          display: flex;
          flex-direction: row;
          gap: 10px;
          align-items: center ;
          .contact{
            display: None;
          }
          .email {
              margin-left: 1px;
          }
      }
    }

  .navbar-container {
    max-width: 100%;
    top: 21.6px;
    left: 0%;
    right: 0;

    &.scrolled {
      top:0;
    }
    .navbar-left {
      
      border: none;

      .navbar-brand img {
        margin-left: -20px;
        width: 140px;
      }
    }

    .navbar-mid {
      display: flex;
      height: 60px;
      margin-left: 230px;
      align-items: left;
      flex-grow: 0;
      justify-content: space-between;
      max-width: 100%;
      flex-grow: 0;
      border: none;
      padding: 0;
    
      .menu-button {
        background: transparent;
        border: none;
        font-weight: 600;
        margin-left: 10px;
        padding: 13px 13px;
        display: block;
        cursor: pointer;
        font-size: 16px;
        color: #ffffff;
    &.scrolled {
      color: #000000;
    }
    &:hover {
      color: #000000;
    }
      }
    
      .navbar-list {
        display: grid;
        flex-direction: column;
        position: absolute;
        top: 70%;
        border: 1px solid black;
        left: 0;
        background-color: #fffffffe; // Background color for the entire navbar list
        padding: auto;
        visibility: hidden;
        z-index: 1000;
        opacity: 100%;
        transition: visibility 0s, opacity 0.5s linear;
        width: 100%;
      
        &.mobile-menu-open {
          visibility: visible;
          opacity: 100%;
        }
      
        .nav-item {
          width: 100%; // Ensure full width for each nav item
          border: 1px solid black;
          height: 50px;
    
          .nav-link {
            padding-top: 3px;
            padding-bottom: 2px;
            display: block;
            width: 100%;
            color: #000; // Text color for navbar items
          }
        }
      
        .dropdown-content {
          position: static; 
          box-shadow: none;
          width: 100%; // Ensure full width for dropdown content
          background-color: #ffffff00; // Same background as navbar list
          padding: 0; // Remove additional padding
          font-size: 20px;
          text-align: center;
        }
      }
    }
    

    .navbar-right {
      padding-right: 0px;
      display: flex;
      align-items: center;
  
      .nav-right-button {
        list-style: none;
        display: flex;
        margin: 0;
        padding: 0;
  
        li {
          margin-right: auto;
  
          .Donate-btn-nav {
            font-weight: 700;
            font-size: 16px;
            position: relative;
            background: transparent;
            border: #000000 solid 1px;
            background-color: yellow;
            padding: 12px;
          }
        }
      }
    }
  }
}
.navbar-container:hover .menu-button {
  color: #000 !important;
}

}
@media (min-width:621px) and (max-width:1300px) {
  .main {
    .header-section {
      position: relative;
      padding: 1px 15px;

      .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #000000;
        font-size: 14px;
      }

      .dte-code {
        font-weight: lighter;
        color: #000000;
      }

      .social-media {
        margin-left: -35px;
      }

      .erp-info {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        
        .contact {
          display: none;
        }
        
        .email {
          margin-left: 1px;
        }
      }
    }

    .navbar-container {
      max-width: 100%;
      top: 22px;
      left: 0;
      right: 0;
      padding-right: 20px;

      &.scrolled {
        top: 0;
      }

      .navbar-left {
        border: none;

        .navbar-brand img {
          align-items: flex-start;
          margin-left: 35px;
          width: 140px;
        }
      }

      .navbar-mid {
        display: flex;
        flex-grow: 0;
        border: none;
        margin-left: 200px;
        margin-right: 5px;
        padding: 0;
        margin-left: calc(100% - 30%); 

        .menu-button {
          background: transparent;
          display: flex;
          
          border: none;
          font-weight: 600;
          padding: 20px 20px;
          text-align: end;
          cursor: pointer;
          font-size: 18px;

          &:hover{
            color: #000;
          }
        }

        .navbar-list {
          flex-direction: column;
          position: absolute;
          top: 70%;
          left: 0;
          max-width: 100%;
          width: 100%;
          background-color: #ffffffe3;
          padding: auto;
          visibility: hidden;
          z-index: 1000;
          opacity: 1;
          transition: visibility 0s, opacity 0.5s linear;

          &.mobile-menu-open {
            visibility: visible;
            opacity: 1;
          }

          .nav-item {
            background: transparent;
            border-right: none;
            font-size: 20px;

            .nav-link {
              margin-left: 0px;
              display: block;
              color: #000;
              padding: 12px 16px;
            }
          }

          .dropdown-content {
            position: static;
            box-shadow: none;
            min-width: 100%;
            background-color: #ffffff00;
            padding: 0;
            text-align: center;
            font-size: 20px;

            .nav-link {
              color: #000000;
              font-weight: normal;
            }
          }
        }
      }

      .navbar-right {
        padding-right: 0px;
        display: flex;
        align-items: center;

        .nav-right-button {
          list-style: none;
          display: flex;
          margin: 0;
          padding: 0;

          li {
            margin-right: auto;

            .Donate-btn-nav {
              font-weight: 700;
              font-size: 18px;
              position: relative;
              background: transparent;
              border: #000000 solid 1px;
              background-color: yellow;
              padding: 19.5px;
            }
          }
        }
      }
    }
  }
}
