.loading-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #000000;
  
    .loading-logo {
      max-width:620px;
      margin-bottom: 20px;
    }
  
    .loading-bar {
      width: 50%;
      height: 20px;
      background-color: rgb(0, 164, 246);
      margin-bottom: 20px;
      position: relative;
      border-radius: 50px;
  
      .loading-progress {
        height: 100%;
        background-color: rgb(255, 213, 0);
        width: 0%;
        position: absolute;
        left: 0;
        top: 0;
        animation: loadingAnimation 3s linear forwards;
        border-radius: 50px;
      }
    }
  
    h2 {
      font-size: 50px;
    }
  }
  
  @keyframes loadingAnimation {
    to { width: 100%; }
  }
  