.footer {
  max-width: 100%;
  a{
    color: white;
    &:hover{
      color: yellow;
  }
  }
  background-color: black;
  color: white;
  
  .footer-buttons {
   max-width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-between;
    margin-bottom: 20px;
    .a{
      font-size: 40px;
      padding-left: 40%;
      padding-top: 2%;
    }
    .contact-btn,.donate-btn{
      display: block;
      background-color: rgb(0, 123, 255);
      width: 100%;
      height: 170px;
      
      &:hover{
        background-color: yellow;
        color: black;
      }
    }
  }
  
  .footer-columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 60px;
    color: white;
  
    .footer-column-resources {
      font-size: 24px;
      font-weight: 500;
    ul{
        li{
            .linkss{
                color: white;

                &:hover{
                    color: yellow;
                }
                
            }
        }
    }
    }
    .footer-column-find-us{
        h3{
            font-size: 24px;
            font-weight: 600;
            margin: auto;
        }
        p{
           font-size: 19px;
           font-weight: 400; 
        }
    }
    .footer-column-contact-info{
        h3{
            font-size: 24px;
            font-weight: 600;
            margin: auto; 
            &:hover{
                color: yellow;
             }
        }
        p{
            font-size: 19px;
            font-weight: 400;

            span{
                color: white;
                &:hover{
                    color: blue;
                }
            } 
            &:hover{
                color: yellow;
             }
         }
         
    }
    .social-links-footer {
        display: flex;
      
        .social-icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: yellow;
          margin: 5px;
      
          i {
            color: black;
          }
      
          &:hover {
            background-color: rgb(61, 61, 253);
      
            i {
              color: white;
            }
          }
        }
      }  
  }
  .footer-column-pages{
    align-items: center;
    justify-content: center;
    display: flex;
    padding-top: 40px;
    font-size: 20px;
    gap: 200px;
    .page-linkss{
      color: white;
      &:hover{
        color: yellow;
      }
    }
    
  }
  .lower{
    display: flex;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: center;
    gap: 60%;
    padding-top: 70px;
    padding-bottom: 10px;
    .p1{
        font-size: 14px;
        font-weight: 400;
    }
    .p2{
        font-size: 21px;
        font-weight: 600;
    }
  }
}

@media(max-width:620px) {
  .footer {
    .footer-buttons {
      max-width: 100%;
       display: grid;
       width: 100%;
       grid-template-columns: repeat(1,1fr);
       justify-content: center;
       margin-bottom: 20px;
       .a{
         font-size: 40px;
         text-align: center;
         padding-left: 1%;
         padding-top: 3%;
       }
       .contact-btn,.donate-btn{
         display: block;
         background-color: rgb(0, 123, 255);
         width: 100%;
         height: 170px;
         margin-bottom: 1px;
         margin-top: 2px;
         
         &:hover{
           background-color: yellow;
           color: black;
         }
       }
     }
    
    .footer-columns {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: space-between;
      padding-left: 0px;
      padding-right: 0px;
      padding-top: 30px;
      gap: 20px;
    
      .footer-column-resources {
        display: flex;
        font-size: 26px;
        font-weight: 500;
        justify-content: center;
      ul{
        display: flex;
        margin-left: -50px;
        flex-direction: column;
        gap:20px;
        align-items: center;
      }
      }
      .footer-column-find-us{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
          h3{
              font-size: 34px;
              font-weight: 600;
              color: yellow;
              margin: auto;
              margin-bottom: 10px;
          }
          p{
             font-size: 24px;
             font-weight: 400; 
             margin-bottom: 10px;
          }
      }
      .footer-column-contact-info{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
          h3{
              font-size: 34px;
              color: yellow;
              font-weight: 600;
              margin: auto; 
              margin-bottom: 10px;
          }
          p{
              font-size: 24px;
              font-weight: 400;
              
              &:hover{
                  color: yellow;
               }
           }
           
      }
      .social-links-footer {
          display: flex;
          justify-content: center;
          .social-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-color: yellow;
            margin: 5px;
        
            i {
              color: black;
            }
        
            &:hover {
              background-color: rgb(61, 61, 253);
        
              i {
                color: white;
              }
            }
          }
        }  
    }
    .footer-column-pages{
      display: flex;
      padding-top: 40px;
      font-size: 20px;
      gap: 20px;
      margin-left: -30px;
      align-items: center;
      justify-content: center;
      
    }
    .lower{
      display: flex;
      flex-direction: column;
      padding-left: 0px;
      padding-right: 0px;
      justify-content: center;
      align-items: center;
      gap: 7px;
      margin-top: 30px;
      padding-top: 0px;
      padding-bottom: 40px;
      .p1{
          font-size: 14px;
          font-weight: 400;
      }
      .p2{
          font-size: 20px;
          font-weight: 600;
      }
    }
  }
}
@media(min-width:621px) and (max-width:1300px) {
  .footer {
    /* Adjusting footer buttons for medium screens */
    .footer-buttons {
      flex-direction: row;
      justify-content: center;
      gap: 0px;
      
      .footer-button {
        width: 100%; /* Slightly reduced width for better spacing */
        font-size: 30px; /* Adjust font size for readability */
      }
    }

    /* Adjusting columns for medium screens */
    .footer-columns {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 20px;
      gap: 15px;
      .footer-column-resources{
        display: none;
      }
      .footer-column-find-us,
      .footer-column-contact-info {
        flex: 1; /* Equal distribution of space */
        text-align: center; /* Center-align text for consistency */

        h3 {
          font-size: 28px; /* Adjust font size */
        }

        p, ul {
          font-size: 20px; /* Adjust font size for readability */
        }
      }

      .social-links-footer {
        margin-left: 140px;
        justify-content: center; /* Center-align social icons */
      }
    }

    /* Adjusting the footer lower section */
    .footer-column-pages {
      
      font-size: 18px; /* Adjust font size */
      gap: 50px;
    }

    .lower {
      flex-direction: column;
      justify-content: center; /* Distribute space between elements */
      gap: 5px;
      padding-top: 20px;
      padding-bottom: 20px;

      .p1, .p2 {
      text-align: center;
        font-size: 16px; /* Adjust font size */
      }
    }
  }
}